In [1]:
''' lesson 3, how to use file operations'''

' lesson 3, how to use file operations'

In [2]:
!ls

Day2_Example.ipynb  Day3.ipynb	 lesson2练习.md  __pycache__  writeme.txt
Day2.ipynb	    lesson2.txt  mymode.py	 readme.txt

In [18]:
a,b=3,4

In [19]:
print(a)
print(b)

3
4

In [1]:
import mymode

In [2]:
mymode.print_me()

this is my first func

In [3]:
mymode.print_name()

my name is abc

In [4]:
mymode.print_name('songqiang')

my name is songqiang

In [36]:
def read_file_method1(filename):
    f = open(filename)
    try:
        for line in f: # 
            print (line)
    finally:
        f.close()

In [37]:
read_file_method1('readme.txt')

qsong

song qiang

qiang song

In [38]:
def read_file_method2(filename):
    with open(filename) as f:
        for a in f:
            print(a)

In [39]:
read_file_method2('readme.txt')

qsong

song qiang

qiang song

In [61]:
# 覆盖写模式
# 如果写入的文件不存在，则会新建该文件，并且写入内容，
# 如果文件已存在，则会覆盖文件之前内容，所以使用该方式时需要慎重，确定文件中之前内容被覆盖是否影响当前业务逻辑。
def write_file_method1(filename):
    with open(filename,'w') as f:
        f.write('today is a nice day.\n')

In [85]:
print('-------执行后的样子-------')
write_file_method1('writeme.txt')
read_file_method2('writeme.txt')

-------执行后的样子-------
today is a nice day.

In [86]:
# 追加写模式
def write_file_method2(filename):
    with open(filename,'a') as f:
        f.write('good start.\n')

In [87]:
print('-------执行后的样子-------')
write_file_method2('writeme.txt')
read_file_method2('writeme.txt')

-------执行后的样子-------
today is a nice day.

good start.

In [88]:
# 读写模式混合
def read_write_file_method2(filename):
    with open(filename,'r+') as f:
        content=f.read()
        f.write('abc.\n')
        f.write("efg.\n")
    return content

content=read_write_file_method2(filename='writeme.txt')
print(content)
print('-------文档完整的样子-------')
read_file_method2('writeme.txt')

today is a nice day.
good start.

-------文档完整的样子-------
today is a nice day.

good start.

abc.

efg.

In [89]:
# 读写模式混合
# 这种方式会从文档的首行开始，逐个字符替覆盖写入，比如下面的例子：
# ‘123’ 将tod替换掉了
def read_write_file_method1(filename):
    with open(filename,'r+') as f:
        f.write('123')
        f.seek(0) # 这个指“光标重新定位,从文档的第一行开始”
        abc=f.read()
    return abc

print('-------执行前的样子-------')
read_file_method2('writeme.txt')
print('-------执行后的样子-------')
content=read_write_file_method1('writeme.txt')
print(content)

-------执行前的样子-------
today is a nice day.

good start.

abc.

efg.

-------执行后的样子-------
123ay is a nice day.
good start.
abc.
efg.

In [1]:
!ls

Day2.ipynb           helloWorld.ipynb     年龄对照表.csv
Day2_Example.ipynb   mymode.py            年龄对照表.xlsx
Day3.ipynb           readme.txt
day01.py             writeme.txt

In [1]:
import pandas as pd

In [2]:
csv_path='年龄对照表.csv'
csv_table = pd.read_csv(csv_path, encoding='gbk')

In [3]:
csv_table

    年龄编码  下限    上限
0      0   0  15.0
1      1  15  20.0
2      2  20  25.0
3      3  25  30.0
4      4  30  35.0
5      5  35  40.0
6      6  40  45.0
7      7  45  50.0
8      8  50  55.0
9      9  55  60.0
10    10  60   NaN

In [9]:
csv_table.loc[[1]] # 取1行的数据，使用python自带的loc函数，实际上是location的缩写

   年龄编码  下限    上限
1     1  15  20.0

In [16]:
csv_table.loc[1][2] # 取1行中第2列的数据，使用python自带的loc函数，实际上是location的缩写

20.0

In [29]:
excel_path='年龄对照表.xlsx'
excel_table = pd.read_excel(excel_path,sheet_name='年龄说明', header=0)

In [30]:
excel_table

    年龄编码  下限    上限
0      0   0  15.0
1      1  15  20.0
2      2  15  25.0
3      3  25  30.0
4      4  30  35.0
5      5  30  40.0
6      6  40  45.0
7      7  30  50.0
8      8  50  55.0
9      9  55  60.0
10    10  60   NaN

In [28]:
excel_table['上限']

0     15.0
1     20.0
2     25.0
3     30.0
4     35.0
5     40.0
6     45.0
7     50.0
8     55.0
9     60.0
10     NaN
Name: 上限, dtype: float64

In [14]:
excel_table[(excel_table['上限']>10) & (excel_table['上限']<50)]

   年龄编码  下限    上限
0     0   0  15.0
1     1  15  20.0
2     2  20  25.0
3     3  25  30.0
4     4  30  35.0
5     5  35  40.0
6     6  40  45.0

In [35]:
excel_table['下限'].drop_duplicates()

0      0
1     15
3     25
4     30
6     40
8     50
9     55
10    60
Name: 下限, dtype: int64

In [33]:
excel_table

    年龄编码  下限    上限  统计
0      0   0  15.0   1
1      1  15  20.0   2
2      2  15  25.0   2
3      3  25  30.0   1
4      4  30  35.0   3
5      5  30  40.0   3
6      6  40  45.0   1
7      7  30  50.0   3
8      8  50  55.0   1
9      9  55  60.0   1
10    10  60   NaN   1